<nav>
  <ul>
    <li>
      <a routerLink="bake">
        <i class="material-icons">BAKE</i>
      </a>
    </li>
      <li>
          <a routerLink="count">
            <i class="material-icons">COUNT</i>
          </a>
      </li>
  </ul>
</nav>
<router-outlet></router-outlet>
<div style="width:25%;float:right">
  <app-events-sidebar></app-events-sidebar>
</div>