<div class="count">
  <div class="form">
   <form class="count"(submit)="countCookie($event)">
  
     <button id="submit" type="submit" >Count</button>
     <input id="count_id" type="text" readonly="readonly" placeholder="Name" [value]="cookieCount"/>
 
   </form>
   </div>
 </div>