<!--The content below is only a placeholder and can be replaced.-->
<div class="bake">
  <div class="form">
    <form class="bake" (submit)="bakeCookie($event)">
  <input id="bake_id" type="text" placeholder="No of cookies"/>
 
  <button id="submit" type="submit" onclick="clearfiled()" >Bake</button>

  </form>
  </div>
</div>




